.form
    display: flex
    flex-direction: column

    label
        font-family: 'PT Mono', monospace
        color: black
        text-align: center
        font-size: 18px
        line-height: 20px        


    input
        font-family: 'PT Mono', monospace
        margin: 20px auto 20px auto
        border: 3px solid black
        background: none
        font-size: 16px
        height: 40px
        width: 350px
        :active
            font-family: 'PT Mono', monospace
            background: none
            font-size: 16px


    .button
        height: 50px
        width: 250px
        padding: 10px 0px
        border: 3px solid black
        background: none
        margin: 0px auto
        font-size: 18px
        &:hover
            background: #6b6565
            color: white
