h1
    padding: 35px 0px 10px 0px
    font-family: 'PT Mono', monospace
    font-size: 25px
    letter-spacing: 10px
    text-transform: uppercase
    &:hover
        color: #347b3c


h2
  font-family: 'PT Mono', monospace 
  font-size: 24px

h3
  font-family: 'PT Mono', monospace 
  font-size: 19px

h4
  font-family: 'PT Mono', monospace 
  font-size: 24px

p, label, button, textarea, a
  font-family: 'PT Mono', monospace 
  font-size: 18px
  color: black

a
  text-decoration: none
