.farmstead
    max-width: 1225px
    margin: 0px auto
    display: flex

    h2
        font-size: 26px
        text-align: justify

    img
        width: 660px

    p
        font-size: 20px
        text-align: justify  
        margin: 20px 0px
        font-family: 'PT Mono', monospace   
        color: black

    .farmsteadText
        justify-content: left