.location
    width: 400px
    border: 3px solid black
    margin: 0px auto 50px auto
    display: flex
    flex-direction: column
    align-items: center
    @media (max-width: 768px)
        max-width: 340px
        font-size: 22px
    &:hover
        background: #343434
        a
            color: white

    .block
        align-items: center
        text-align: right
        text-decoration: none
        font-family: 'PT Mono', monospace
        text-transform: uppercase
        font-size: 25px
        color: black

h4
    margin: 20px 0px
    text-align: left
    font-family: 'PT Mono', monospace
    font-size: 25px
    letter-spacing: 10px
    text-transform: uppercase

.flexDiv
    display: flex
    margin: 0 auto
    width: 1225px
    border-top: 3px solid black
    border-bottom: 3px solid black
    border-radius: 2px
    padding: 20px 0px

    .flexContainer
        width: 735px
        border-right: 3px solid black
        padding-right: 80px
        height: 880px
        overflow: scroll

    .news
        padding: 5px 40px
        width: 40%
        p
            font-family: 'PT Mono', monospace   
            color: black
            text-align: justify
            font-size: 16px
            line-height: 20px
            margin-top: 10px

        img
            margin-left: -35px
            width: 200px

        .form
            display: flex
            flex-direction: column
            margin: 0 auto !important
            
            label
                font-family: 'PT Mono', monospace   
                color: black
                text-align: left
                font-size: 16px
                line-height: 20px
                 
            input
                font-family: 'PT Mono', monospace   
                margin: 20px auto 20px auto
                border: 3px solid black
                background: none
                font-size: 16px

            textarea
                resize: none
                font-family: 'PT Mono', monospace   
                margin: 20px auto 20px auto
                border: 3px solid black
                background: none
                font-size: 16px
                
            .mail, .topic
                height: 35px
                width: 400px

            .message
                height: 100px
                width: 400px

            .button
                margin: 0 auto
                padding: 11px 50px
                &:hover
                    background: #343434
                    color: white
            
.videoText
    text-align: center
    font-family: 'PT Mono', monospace
    font-size: 25px
    letter-spacing: 10px
    text-transform: uppercase

.video
    width: 700px
    display: flex
    height: 420px
    margin: 0 auto
    padding: 20px 0px
    @media (max-width: 1024px)
        width: 600px
        height: 400px
        padding: 20px 20px

    @media (max-width: 768px)
        max-width: 540px
        height: 300px
        padding: 20px 20px

    @media (max-width: 550px)
        max-width: 440px
        height: 280px
        padding: 20px 20px

    @media (max-width: 430px)
        max-width: 350px
        height: 240px
        padding: 20px 20px
