.farmstead
    border: 2px solid black
    display: flex
    width: 670px
    margin: 25px 85px

    .date, .title, .minutsForRead, .information
        font-family: 'PT Mono', monospace   
        color: black
        text-align: justify
        padding: 0px 15px

    .date, .minutsForRead, .information
        font-size: 14px
        margin: 10px 0px

    .title 
        font-size: 19px

    img
        width: 340px
        margin-bottom: -5px